<ActionBar title="Food Tracker">
    <ActionItem (tap)="navigateToAddEntry()" ios.position="right">
    <Label class="fas" style="margin-top: 10px" text="&#xf067;"></Label>
    </ActionItem>
</ActionBar>

<GridLayout rows="auto, *">
  <ListView [items]="diaryStore.diaryView()">
  <ng-template let-item="item" let-i="index">
      <GridLayout [ngClass]="{'high-average': item.average >= 7, 'low-average': item.average < 3}">
      <label [text]="item.date"></label>
    </GridLayout>
  </ng-template>
</ListView>
</GridLayout>

