.high-average {
  background-color: lightcoral;
}

.low-average {
  background-color: lightgreen;
}

.list-item {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.item-text {
  font-size: 18px;
}
