.high-average {
  background-color: lightcoral;
}

.low-average {
  background-color: lightgreen;
}

.list-item {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.item-text {
  font-size: 18px;
}

.status-dot {
  border-radius: 5;
  width: 10;
  height: 10;
  margin-right: 10;
}

.header-text {
  font-weight: bold;
  font-size: 16;
}

.summary-text {
  font-size: 14;
  color: #666666;
}
