<ActionBar title="Food Tracker">
    <ActionItem (tap)="export()" ios.position="right">
    <Label class="fas" style="margin-top: 10px" text="&#xf019;"></Label>
    </ActionItem>
    <ActionItem (tap)="navigateToAddEntry()" ios.position="right">
    <Label class="fas" style="margin-top: 10px" text="&#xf067;"></Label>
    </ActionItem>
</ActionBar>

<GridLayout rows="auto, *">
  <ListView [items]="diaryStore.diaryView()" class="list-group">
  <ng-template let-item="item" let-i="index">
      <GridLayout [ngClass]="{'high-average': item.average >= 7, 'low-average': item.average < 3}" class="list-item">
      <Label (tap)="viewEntry(item.id)" [text]="item.date | date: 'dd.MM.yyyy'" class="item-text"></Label>
    </GridLayout>
  </ng-template>
</ListView>
</GridLayout>

