<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-segment [value]="diaryStore.selectedView()" (ionChange)="diaryStore.setSelectedView($event)">
        <ion-segment-button value="calendar">
          <ion-label>{{ 'diary.calendar-view' | transloco }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="list">
          <ion-label>{{ 'diary.list-view' | transloco }}</ion-label>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        {{ 'diary.title' | transloco }}
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button *ngIf="diaryStore.selectedView() == 'list'" (click)="diaryStore.createDiaryEntry()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <diary-component/>

</ion-content>
