
.component-spacing {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
}

.slider-margins {
  margin-left: 30px;
  margin-right: 30px;
}

.title {
  font-size: 18;
  font-weight: bold;
  margin-left: 30px;
}

.row-layout {
  align-items: center;
}

.time-label {
  text-align:right;
  margin-right: 8px;
}

.time-picker {
  width: 150px;
  margin-right: 30px;
}

.textField {
  background-color: #D3D3D3;
  height: 150px;
  padding: 15px;
  font-size: 16
}

.date-picker {
  width: 300px;
  margin-right: 30px;
  text-align: right;
}

.button {
  font-size: 20;
  font-weight: bold;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
