<ion-modal [isOpen]="diaryStore.isAddEntryModalOpen()" canDismiss="true">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title id="date">{{ this.addEntryStore.date() | date: 'dd.MM.yyyy' }}</ion-title>
        <ion-buttons slot="primary" class='ion-button'>
          <ion-button (click)="diaryStore.setAddEntryModalState(false)">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
          <ion-button (click)="diaryStore.removeEntry(addEntryStore.id())">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

      <ion-popover trigger="date">
        <ng-template>
          <ion-datetime
            presentation="date"
            (ionChange)="this.dateChanged()"
            [(ngModel)]="this.currentDate">
          </ion-datetime>
        </ng-template>
      </ion-popover>

    <ion-content>
      <ion-item id="sleep-time">
        <ion-label>Sleep time</ion-label>
        <ion-note color="primary">{{ this.sleepTime | date: 'HH:mm' }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-list [inset]="true" style="width:100%;">
          <ion-list-header>
            <ion-label class="meal-label"><strong>Meals</strong></ion-label>
          </ion-list-header>

          <ion-item-sliding *ngFor="let item of this.addEntryStore.food()">
            <ion-item>
              <ion-label>
                <ion-text>{{ item.ingredients.join(",") }}</ion-text>
              </ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-note color="medium">{{ item.time | date: 'HH:mm' }}</ion-note>
              </div>
            </ion-item>

            <ion-item-options>
              <ion-item-option color="danger">
                <ion-icon
                  slot="icon-only"
                  name="trash-outline"
                  button
                  (click)="addEntryStore.removeFoodEntry(item.id)">
                </ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item>
            <div>
              <ion-input placeholder="Enter ingredients" [(ngModel)]="this.mealInput"></ion-input>
              <ion-button (click)="addFoodEntry()">Add</ion-button>
            </div>
            <div class="metadata-end-wrapper" slot="end">
              <ion-note color="primary" id="time">{{ this.mealTime | date: 'HH:mm' }}</ion-note>
            </div>
          </ion-item>

        </ion-list>
      </ion-item>

      <ion-popover trigger="time">
        <ng-template>
          <ion-datetime
            presentation="time"
            [(ngModel)]="this.mealTime"
            [preferWheel]="false">
          </ion-datetime>
        </ng-template>
      </ion-popover>

      <ion-popover trigger="sleep-time">
        <ng-template>
          <ion-datetime
            presentation="time"
            [(ngModel)]="this.sleepTime"
            [preferWheel]="false">
          </ion-datetime>
        </ng-template>
      </ion-popover>

      <ion-item>
        <ion-list [inset]="true" style="width:98%;">
          <ion-list-header>
            <ion-label class="meal-label"><strong>Drinks</strong></ion-label>
          </ion-list-header>

          <ion-item-sliding *ngFor="let item of this.addEntryStore.drinks()">
            <ion-item>
              <ion-label>
                <ion-text>{{ item.name }}</ion-text>
              </ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-note>{{ item.quantity }}</ion-note>
              </div>
            </ion-item>

            <ion-item-options>
              <ion-item-option color="danger">
                <ion-icon
                  slot="icon-only"
                  name="trash-outline"
                  button
                  (click)="addEntryStore.removeDrinksEntry(item.id)">
                </ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item>
            <div>
              <ion-input placeholder="Enter ingredients" [(ngModel)]="this.drinksInput"></ion-input>
              <ion-button (click)="addDrinksEntry()">Add</ion-button>
            </div>
            <div class="metadata-end-wrapper" slot="end">
              <ion-note id="quantity" color="primary">{{ this.drinksQuantity }}</ion-note>
            </div>
          </ion-item>

        </ion-list>
      </ion-item>

      <ion-popover trigger="quantity">
        <ng-template>
          <ion-input type="number" [(ngModel)]="drinksQuantity"></ion-input>
        </ng-template>
      </ion-popover>

      <ion-range
        labelPlacement="stacked"
        label="Stomach"
        class="ion-padding"
        [ticks]="true"
        [snaps]="true"
        [min]="0"
        [max]="10"
        [(ngModel)]="stomach"
        (ionChange)="onSliderChange('stomach', $event)">
        <ion-icon slot="start" name="sad-outline"></ion-icon>
        <ion-icon slot="end" name="happy-outline"></ion-icon>
      </ion-range>
      <ion-range
        labelPlacement="stacked"
        label="Sleep quality"
        class="ion-padding"
        [ticks]="true"
        [snaps]="true"
        [min]="0"
        [max]="10"
        [(ngModel)]="sleepQuality"
        (ionChange)="onSliderChange('sleep', $event)">
        <ion-icon slot="start" name="sad-outline"></ion-icon>
        <ion-icon slot="end" name="happy-outline"></ion-icon>
      </ion-range>
    </ion-content>
    <ion-button expand="block" (click)="this.addEntryStore.saveChanges()">Save</ion-button>
  </ng-template>


</ion-modal>
