<ActionBar title="Add entry"></ActionBar>

<StackLayout>
  <TextField
    [text]="foodInput"
    (textChange)="onTextValueChange($event, TextFieldEnum.FOOD)"
    hint="Enter food items, separated by commas">
  </TextField>
  <TextField
    [text]="drinksInput"
    (textChange)="onTextValueChange($event, TextFieldEnum.DRINKS)"
    hint="Enter drinks, separated by commas">
  </TextField>
  <TextField
    [text]="medication"
    (textChange)="onTextValueChange($event, TextFieldEnum.MEDS)"
    hint="Enter medication, separated by commas"></TextField>

  <Label [text]="'Rate your sleep quality: ' + sleepQuality" class="h2"></Label>
  <Slider
    minValue="0"
    [value]=sleepQuality
    maxValue="10"
    step="1"
    (valueChange)="onSleepSliderChange($event)"
    ></Slider>
  <Label [text]="'Rate stomach pain: ' + stomach" class="h2"></Label>
  <Slider
    minValue="0"
    [value]=stomach
    maxValue="10"
    step="1"
    (valueChange)="onStomachSliderChange($event)"
    ></Slider>
  <Button text="Save Entry" (tap)="saveEntry()"></Button>
</StackLayout>

