@let diaryVm = diaryStore.diaryView();
@let addEntryVm = addEntryStore.addEntryVm();

<ion-modal [isOpen]="diaryVm.modalOpen" canDismiss="true">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title id="date"><h2>{{ addEntryVm.date | date: 'dd.MM.yyyy' }}</h2></ion-title>
        <ion-buttons slot="primary" class='ion-button'>
          <ion-button (click)="diaryStore.closeAddEntryModal()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-popover trigger="date" class="calendar-popover">
      <ng-template class="xc">
        <ion-datetime
          presentation="date"
          (ionChange)="this.dateChanged()"
          [(ngModel)]="this.currentDate">
        </ion-datetime>
      </ng-template>
    </ion-popover>

    <ion-content>
      <ion-item>
        <ion-label><h1>{{ 'diary.add-entry.sleep-time' | transloco }}</h1></ion-label>
            <div class="metadata-end-wrapper" slot="end">
        <ion-note id="sleep-time" color="primary">{{ this.sleepTime | date: 'HH:mm' }}</ion-note>
          </div>
      </ion-item>

      <ion-list>
        <ion-list-header>
          <ion-label><h1>{{ 'diary.add-entry.meals' | transloco}}</h1></ion-label>
        </ion-list-header>

        <ion-item-sliding *ngFor="let item of addEntryVm.food">
          <ion-item>
            <ion-label>
              <ion-text>{{ item.ingredients.join(",") }}</ion-text>
            </ion-label>
            <div class="metadata-end-wrapper" slot="end">
              <ion-note color="ion-color-light">{{ item.time | date: 'HH:mm' }}</ion-note>
            </div>
          </ion-item>

          <ion-item-options>
            <ion-item-option color="danger">
              <ion-icon
                slot="icon-only"
                name="trash-outline"
                button
                (click)="addEntryStore.removeFoodEntry(item.id)">
              </ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item>
          <div>
            <ion-input
              [placeholder]="'diary.add-entry.enter-ingredients' | transloco"
              [(ngModel)]="this.mealInput"
              (keyup.enter)="addFoodEntry()"></ion-input>
          </div>
          <div class="metadata-end-wrapper" slot="end">
            <ion-note color="primary" id="time">{{ this.mealTime | date: 'HH:mm' }}</ion-note>
          </div>
        </ion-item>
      </ion-list>

      <ion-popover trigger="time">
        <ng-template>
          <ion-datetime
            locale="de-DE"
            presentation="time"
            [value]="this.convertDate(this.mealTime)"
            (ionChange)="this.timeChanged($event.detail.value)"
            [preferWheel]="false">
          </ion-datetime>
        </ng-template>
      </ion-popover>

      <ion-popover trigger="sleep-time">
        <ng-template>
          <ion-datetime
            presentation="time"
            [value]="this.convertDate(this.sleepTime)"
            (ionChange)="this.sleepTimeChanged($event.detail.value)"
            [preferWheel]="false">
          </ion-datetime>
        </ng-template>
      </ion-popover>

      <ion-list>
        <ion-list-header>
          <ion-label><h1>{{ 'diary.add-entry.drinks' | transloco}}</h1></ion-label>
        </ion-list-header>

        <ion-item-sliding *ngFor="let item of addEntryVm.drinks">
          <ion-item>
            <ion-label>
              <ion-text>{{ item.name }}</ion-text>
            </ion-label>
            <div class="metadata-end-wrapper" slot="end">
              <ion-note color="ion-color-light">{{ item.quantity }}</ion-note>
            </div>
          </ion-item>

          <ion-item-options>
            <ion-item-option color="danger">
              <ion-icon
                slot="icon-only"
                name="trash-outline"
                button
                (click)="addEntryStore.removeDrinksEntry(item.id)">
              </ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item>
          <div>
            <ion-input
              [placeholder]="'diary.add-entry.enter-drinks' | transloco"
              [(ngModel)]="this.drinksInput"
             (keyup.enter)="addDrinksEntry()"></ion-input>
          </div>
          <div class="metadata-end-wrapper" slot="end">
            <ion-note id="quantity" color="primary">{{ this.drinksQuantity }}</ion-note>
          </div>
        </ion-item>

      </ion-list>

      <ion-popover trigger="quantity">
        <ng-template>
          <ion-input type="number" [(ngModel)]="drinksQuantity"></ion-input>
        </ng-template>
      </ion-popover>

      <ion-item>
        <div class="range-container">
          <ion-label><h1>{{ 'diary.add-entry.stomach' | transloco }}</h1></ion-label>
          <ion-range
            class="ion-padding"
            [ticks]="true"
            [snaps]="true"
            [min]="0"
            [max]="10"
            [(ngModel)]="this.stomach"
            (ionChange)="onSliderChange('stomach', $event)">
            <ion-icon slot="start" name="sad-outline"></ion-icon>
            <ion-icon slot="end" name="happy-outline"></ion-icon>
          </ion-range>
        </div>
      </ion-item>

      <ion-item>
        <div class="range-container">
          <ion-label><h1>{{ 'diary.add-entry.sleep-quality' | transloco }}</h1></ion-label>
          <ion-range
            class="ion-padding"
            [ticks]="true"
            [snaps]="true"
            [min]="0"
            [max]="10"
            [(ngModel)]="this.sleepQuality"
            (ionChange)="onSliderChange('sleep', $event)">
            <ion-icon slot="start" name="sad-outline"></ion-icon>
            <ion-icon slot="end" name="happy-outline"></ion-icon>
          </ion-range>
        </div>
      </ion-item>
    </ion-content>

  </ng-template>
</ion-modal>
