
.row-layout {
  align-items: center;
}

.time-label {
  text-align:right;
  margin-right: 8px;
}

.time-picker {
  width: 150px;
  margin-right: 30px;
}

ion-datetime {
  --background: var(--ion-color-dark);
  --background-rgb: var(--ion-color-dark-rgb);
}

.calendar-popover {
  --width: 80%
}

.textField {
  background-color: #D3D3D3;
  height: 150px;
  padding: 15px;
  font-size: 16
}

.date-picker {
  width: 300px;
  margin-right: 30px;
  text-align: right;
}

ion-label{
  display: block;

  max-width: calc(100% - 60px);
  min-width: 60%;

  overflow: hidden;

  text-overflow: ellipsis;
}

.metadata-end-wrapper {
  position: absolute;

  top: 10px;
  inset-inline-end: 10px;

  font-size: 0.8rem;

  display: flex;
  align-items: center;
}

.range-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;
}

